:root {
  --main-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
  --main-color: #212121;
  --secondary-color: #ffffff;
  --accent-color: #2196f3;
  --text-color: #757575;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
}
/* ========== COMPONENTS ==========*/

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-list-link,
.contacts-list-link,
.footer-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  font-style: normal;
}

.nav-list-link:hover,
.nav-list-link:focus,
.contacts-list-link:hover,
.contacts-list-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* ========== END COMPONENTS ==========*/

/* ========== HEADER ========== */

.logo-top {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-accent {
  color: var(--accent-color);
}

.nav-list-link,
.contacts-list-link {
  color: var(--main-color);
}

.current {
  color: var(--accent-color);
}

/* ========== END HEADER ========== */

/* ========== HERO ========== */

.hero {
  background: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.hero-link {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

/* ========== END HERO ========== */

/* ========== FEATURES ========== */

.features-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.features-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* ========== FEATURES ========== */
.services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* ========== END FEATURES ========== */

/* ========== OUR TEAM ========== */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ========== END OUR TEAM ========== */

/* ========== FOOTER ========== */

.footer {
  background: #2f303a;
}

.logo-down {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.address-street {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.715;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

/* ========== END FOOTER ========== */

/* ========================== PORTFOLIO PAGE ========================== */

/* ========== FILTERS ========== */

.filters-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
}
.filters-btn:hover,
.filters-btn:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

/* ========== END FILTERS ========== */

/* ========== PROJECTS ========== */

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.projects-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* ========== END PROJECTS ========== */

/* ========================== END PORTFOLIO PAGE ========================== */
